*{
    margin:0;
    padding:0;
}

html,
body{
    height: 100%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: ivory;
}

div{
    display: flex;
    width: 25%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img{
    width: 50%;
    margin-bottom: 10%;

}

#username,
#password{
    width: 90%;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 3%;
    border: 1px #dbdbdb solid;
    border-radius: 3px;
    outline: none;
}

#login{
    width: 90%;
    height: 35px;
    margin-bottom: 3%;
    border: 1px rgb(0,85,255) solid;
    border-radius: 3px;
    background-color: rgb(0,85,255);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
#login:hover{
        background-color: rgb(0,255,60);
        border: rgb(0,255,60);
        width: 50%;
}